.aboutabout {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--bg);
}

.aboutdiv {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

.aboutdiv .sec-title {
    height: auto;
    width: 88%;
    margin-top: 8vh;
    margin-left: 6%;
}

.aboutdiv .sec-title p {
    color: var(--c4);
    font-size: 5vh;
}


.about {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
}

.leftside {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile {
    margin-top: 2vw;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    /* Ensure smooth transition of the profile image when fading out */
}

.profile-hover {
    margin-top: 2vw;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* Initially hidden with 0 opacity, and smooth transition on hover */
}

.leftside:hover .profile {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.leftside:hover .profile-hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Optional Keyframe for an additional fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.rightside {
    right: 5vw;
    width: 80%;
    margin-left: 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rightside p {
    color: var(--c2);
}

.rightside .stline {
    margin-top: 1vh;
}

.rightside .ndline {
    margin-top: 2vh;
}

.rightside p span {
    color: var(--c4);
}

.rightside .title {
    margin-top: 4vh;
    font-size: 2.5vh;
    color: var(--c4);
    text-transform: uppercase;
    margin-bottom: 5vh;
}


.rightside svg {
    height: 3vh;
    width: auto;
}










/* BUTTONS */
.rightside .buttons {
    /* position: absolute;
    bottom: 7vh; */
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

}


.rightside .buttons button {
    margin-top: 10vh;
    height: 9vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c4);
    border: none;
    border: var(--c4) 2px solid;
}

.rightside .buttons .noselect1 {
    width: 51vh;
}

.rightside .buttons .noselect2 {
    width: 33vh;
}

.rightside .buttons button,
.rightside .buttons button span {
    transition: 200ms;
}

.rightside .buttons button .text {
    color: var(--bg);
    font-weight: bold;
    font-size: 2.3vh;
}

.rightside .buttons .noselect1 .text {
    width: 33vh;
}

.rightside .buttons .noselect2 .text {
    width: 20vh;
}

.rightside .buttons button .icon {
    position: static;
    /* border-left: 1px solid #040D12; */
    height: 9vh;
    width: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightside .buttons button svg {
    width: 2.3vh;
    fill: var(--bg);
}

.rightside .buttons button:hover svg path {
    fill: var(--c2);
}

.rightside .buttons button:hover {
    background: var(--bg);
}

.rightside .buttons button:hover .text {
    color: transparent;
}

.rightside .buttons button:hover .icon {
    width: 150px;
}

.rightside .buttons .noselect1:hover .icon {
    /* transform: translateX(-100.5px); */
    margin-right: 36%;
}

.rightside .buttons .noselect2:hover .icon {
    /* transform: translateX(-60.5px); */
    margin-right: 32%;

}

.rightside .buttons button:focus {
    outline: none;
}

.rightside .buttons button:active .icon svg {
    transform: scale(0.8);
}





/* Mobile responsiveness */
@media (max-width: 768px) {
    .aboutdiv {
        height: auto;
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .leftside {
        width: 80%;
        margin-left: 10%;
        height: 100%;
    }



    .rightside {
        margin-left: 10vw;
        right: 0;
        width: 80%;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }


    .rightside .buttons {
        margin-top: -2vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;

    }


    .rightside .buttons {
        margin-top: -5vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2px;
    }

    .rightside .buttons button {
        margin-top: 1vh;
        height: 15vw;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rightside .buttons .noselect1 {
        margin-top: 10vh;
        width: 100%;

    }

    .rightside .buttons .noselect2 {
        width: 33vh;
        width: 100%;

    }





    .rightside .buttons .noselect1:hover .icon {
        /* transform: translateX(-100.5px); */
        margin-right: 38%;
    }

    .rightside .buttons .noselect2:hover .icon {
        /* transform: translateX(-60.5px); */
        margin-right: 32%;

    }

}