.sec3 {
    width: 100%;
    height: 90vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    position: relative;
}

.sec3 .title {
    height: 10vh;
    width: 88%;
    margin-top: 8vh;
    margin-left: 6%;
}

.sec3 .title p {
    color: var(--c4);
    font-size: 5vh;
}



.sec3 .content {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sec3 .content .leftside {
    margin-top: 1vh;
    margin-left: 6%;
    width: 50%;

}

.sec3 .content .leftside .form-container {
    margin-top: 7vh;
    width: 100%;
    /* background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(145deg, transparent 50%, #EB5E28, #403D39) border-box;
    border: 0.3vh solid transparent; */
    /* padding: 6vh 4vw; */
    font-size: 2vh;
    font-family: inherit;
    color: var(--c2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-size: 200% 100%;
    /* animation: gradient 5s ease infinite; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sec3 .content .leftside .form-container button:active {
    scale: 0.95;
}

.sec3 .content .leftside .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.sec3 .content .leftside .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.sec3 .content .leftside .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--c2);
    font-weight: 600;
    font-size: 2vh;
    margin-top: 2vh;
    letter-spacing: 0.1vw;
    word-spacing: 0.6vw;
}

.sec3 .content .leftside .form-container .form-group input {
    width: 95%;
    padding: 3vh 1vw;
    color: var(--c2);
    font-family: inherit;
    background-color: transparent;
    border: 0.1vh solid var(--c2);

}

.sec3 .content .leftside .form-container .form-group textarea {
    width: 95%;
    padding: 2vh 1vw;
    resize: none;
    color: var(--c2);
    height: 96px;
    border: 0.1vh solid var(--c2);
    background-color: transparent;
    font-family: inherit;
}

.sec3 .content .leftside .form-container .form-group input::placeholder {
    opacity: 0.5;
}

.sec3 .content .leftside .form-container .form-group input:focus {
    outline: none;
    border-color: var(--c2);
}

.sec3 .content .leftside .form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--c2);
}

.sec3 .content .leftside .form-container .form-submit-btn {
    width: 105.5%;
    padding: 2vh 2vw;
    color: var(--bg);
    font-weight: 600;
    background: #313131;
    border: 0.2vh solid var(--c2);
    font-size: inherit;
    gap: 3vh;
    margin-top: 2vh;
    cursor: pointer;
    letter-spacing: 0.1vw;

}

.sec3 .content .leftside .form-container .form-submit-btn:hover {
    background-color: transparent;
    border-color: var(--c4);
    background-color: var(--c4);
}

.sec3 .content .leftside .form-container .succeededmsg {
    width: 95%;
    padding: 0vh 2vh;
    color: var(--c4);
    font-weight: 600;
    background: var(--bg);
    /* border: 0.2vh solid var(--c2); */
    font-size: inherit;
    gap: 3vh;
    margin-top: 2vh;
    text-align: center;
    letter-spacing: 0.1vw;

}




.sec3 .content .rightside {
    /* position: absolute;
    right: 0; */
    width: 44%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    color: var(--c2);
    font-size: 3vh;
}

.sec3 .content .rightside .contactinfos {
    margin-top: 14vh;
    margin-left: 10vw;
}

.sec3 .content .rightside .contactinfos div {
    display: flex;
    flex-direction: row;
    gap: 0.6vw;
    align-items: center;
}

.sec3 .content .rightside .contactinfos div svg {
    height: 3vh;
    width: auto;
}

.sec3 .content .rightside .contactinfos div svg path {
    fill: var(--c2);
}

.sec3 .content .rightside .social {
    margin-top: 40vh;
    margin-left: 10vw;
}

.sec3 .content .rightside .social .socials {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}


.sec3 .content .rightside .social .socials svg .Xpath {
    fill: var(--c2);
}






.GitHub-div {
    position: absolute;
    z-index: 1015;
    bottom: 2vh;
    right: 7vw;
}

ul {
    list-style: none;
}

.GitHub .icon-content {
    margin: 0 10px;
}

.GitHub .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--bg);
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.GitHub .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.GitHub .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--bg);
    background-color: var(--c3);
    transition: all 0.3s ease-in-out;
}

.GitHub .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.GitHub .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.GitHub .icon-content a:hover {
    color: white;
}

.GitHub .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.GitHub .icon-content a:hover .filled {
    height: 100%;
}

.GitHub .icon-content a[data-social="GitHub"] .filled,
.GitHub .icon-content a[data-social="GitHub"]~.tooltip {
    background-color: var(--c2);
}




/* Mobile responsiveness */
@media (max-width: 768px) {
    .sec3 {
        width: 100%;
        height: auto;
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        padding-bottom: 10vh;
        position: relative;
    }

    .sec3 .title {
        height: auto;
        width: 88%;
        margin-top:8vh;
        margin-bottom: -5vh;
        margin-left: 6%;
    }

    .sec3 .content {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sec3 .content .leftside {
        margin-top: 0vh;
        margin-left: 6%;
        width: 88%;

    }
    .sec3 .content .leftside .form-container .form-group label {
        display: block;
        margin-bottom: -5px;
        color: var(--c2);
        font-weight: 600;
        font-size: 2vh;
        margin-top: 1vh;
        letter-spacing: 0.1vw;
        word-spacing: 0.6vw;
    }

    .sec3 .content .leftside .form-container .form-group input {
        width: 95%;
        padding: 2vh 1vw;
        color: var(--c2);
        font-family: inherit;
        background-color: transparent;
        border: 0.1vh solid var(--c2);
    
    }
    
    .sec3 .content .leftside .form-container .form-group textarea {
        width: 95%;
        padding: 1vh 1vw;
        resize: none;
        color: var(--c2);
        height: 96px;
        border: 0.1vh solid var(--c2);
        background-color: transparent;
        font-family: inherit;
    }

    .sec3 .content .leftside .form-container .form-submit-btn {
        width: 97.5%;
        padding: vh 2vw;
        color: var(--bg);
        font-weight: 600;
        background: #313131;
        border: 0.2vh solid var(--c2);
        font-size: inherit;
        gap: 3vh;
        margin-top: 2vh;
        cursor: pointer;
        letter-spacing: 0.1vw;
    
    }
    .sec3 .content .rightside {
        width: 88%;
        margin-left: -2%;
        display: flex;
        flex-direction: column;
        color: var(--c2);
        font-size: 2.5vh;
    }

    .sec3 .content .rightside .contactinfos {
        margin-top: 4vh;
        margin-left: 10vw;
    }

    .sec3 .content .rightside .social {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 10vw;
    }

    .GitHub-div {
        position: absolute;
        z-index: 1004;
        bottom: 2vh;
        right: 19vw;
    }
}