/* General styling for the Hero component */
.hero-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg);
}

/* Styling for the name */
.hero h1 {
    font-size: 9vh;
    font-weight: bold;
    color: black;
    display: flex;
}

.hero .highlight {
    background-color: var(--c4);
    color: var(--bg);
    padding: 0 10px;
    text-align: left;
}

/* Subtitle */
.hero h2 {
    font-size: 2.95vh;
    font-weight: 700;
    color: var(--c3);
    margin-top: 10px;
    text-transform: uppercase;
    transition: width 0.3s ease;
    /* Smooth transition for width change */
}



.svghero {
    width: 100%;
    position: absolute;
}

.svghero path {
    stroke-width: 0.5;
    stroke: var(--c4);
    fill-opacity: 1;
    transform-origin: center;
    animation: draw 5s ease-in-out infinite;
}

/* Path animation - drawing effect */
@keyframes draw {
    0% {
        stroke-dasharray: 0, 1000;
        fill-opacity: 0.2;
    }

    40% {
        stroke-dasharray: 1000, 0;
        fill-opacity: 1;
    }
    60% {
        stroke-dasharray: 1000, 0;
        fill-opacity: 1;
    }

    100% {
        stroke-dasharray: 0, 1000;
        fill-opacity: 0.2;
    }
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 4vh;
    }

    .hero h2 {
        font-size: 2.17vh;
        font-weight: 800;
        max-width: 100%;
        /* Ensure it doesn't overflow the container */
    }

    .svghero {
        display: none;
    }
}