/* General styling for the Hero component */
.hero-div {
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background-color: var(--bg);
}

.hero {
    padding-left: 5vw;
}

/* Styling for the name */
.hero h1 {
    font-size: 9vh;
    font-weight: bold;
    color: var(--c4);
    display: flex;
}

.hero .highlight {
    background-color: var(--c4);
    color: var(--bg);
    padding: 0 10px;
    text-align: left;

}

/* Subtitle */
.hero h2 {
    font-size: 2.95vh;
    font-weight: 700;
    color: var(--c3);
    margin-top: 10px;
    text-transform: uppercase;
    transition: width 0.3s ease;
    /* Smooth transition for width change */
}


.animation {
    height: 50px;
    overflow: hidden;
}

.animation>div>div {
    color: var(--c3);
    font-size: 25px;
    padding: 0.25rem 0.75rem;
    height: 20px;
    margin-bottom: 2.81rem;
    display: inline-block;
}

/* 
.animation>div>div p{
    font-size: 25vh; 
} */

.animation div:first-child {
    animation: text-animation 6s infinite;
}


@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -40px;
    }

    30% {
        margin-top: -40px;
    }

    40% {
        margin-top: -100px;
    }

    60% {
        margin-top: -100px;
    }

    70% {
        margin-top: -40px;
    }

    80% {
        margin-top: -40px;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}







.svghero {
    width: 50vw;
    right: 5vw;
    bottom: 5vh;
    position: absolute;
}

.svghero path {
    stroke-width: 0.5;
    fill-opacity: 1;
    stroke: var(--bg2);
    transform-origin: center;
    animation: draw 2 s ease-in-out;
}


@keyframes draw {
    0% {
        stroke-dasharray: 0, 1000;
        stroke-opacity: 1;
        stroke: var(--c3);
        fill-opacity: 0.2;
    }

    100% {
        stroke-dasharray: 1000, 0;
        stroke-opacity: 0;
        fill-opacity: 1;
    }
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 4vh;
    }

    .hero h2 {
        font-size: 2.17vh;
        font-weight: 800;
        max-width: 100%;
        /* Ensure it doesn't overflow the container */
    }

    .svghero {
        display: none;
    }
}

@media (min-width: 768px) {
    .hero-div {
        width: 100vw;
        display: flex;
        /* justify-content: center; */
        align-items: start;
        height: 100vh;
        background-color: var(--bg);
    }
    
    .hero {
        padding-left: 5vw;
        padding-top: 30vh;
    }
}