.language-switcher{
    color: var(--c2);
}


.language-switcher button{
    color: var(--c2);
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0px;
    cursor: pointer;
}