.navbarx {
    height: 10vh;
    width: 100vw;
    background-color: var(--bg);
    position: fixed;
    z-index: 1100;
}

.navbarx .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.logo {
    margin-left: 3vw;
}

.logoImage {
    position: absolute;
    z-index: 1002;
    margin-top: 1.5vh;
    height: 7vh;
}

@media only screen and (max-width: 600px) {
    .logoImage {
        width: 112.6px;
        height: 56px;
    }
}


.desktop-menu {
    display: block;
    margin-right: 3vw;
    margin-top: 2vh;
}

.desktop-menu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
}

.desktop-menu ul li {
    margin-inline: 1vw;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--c2);
    transition: color 0.3s ease;
}

.desktop-menu ul:hover li a {
    color: var(--c3);
}

.desktop-menu ul li:hover a {
    color: var(--c2);
}












/* mobile menu */
.mobile-menu {
    display: none;
    margin-right: 3vw;
    margin-top: 2vh;
}

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #6495ed;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
}

.popup input {
    display: none;
}



.circle {
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--c1);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--c1);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.burger span {
    height: var(--burger-line-height);
    width: var(--burger-line-width);
    background: var(--burger-color);
    border-radius: var(--burger-line-border-radius);
    position: absolute;
    transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
    top: var(--burger-offset);
}

.burger span:nth-child(2) {
    bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}




.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked~.burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked~.burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked~.burger span:nth-child(3) {
    transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}


.popup input:checked+.circle {
    animation: scalecircle 0.5s forwards;
}

.popup input:not(:checked)+.circle {
    animation: outscalecircle 0.5s forwards;
}



/* Initially hidden menu */
.mobile-menu-links {
    display: none;
    position: absolute;
    z-index: 1001;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

.mobile-menu-links ul {
    list-style-type: none;
    padding: 0;
    margin-left: 6vw;
}

.mobile-menu-links ul li {
    margin: 0;
    padding: 0;
    padding-block: 1vh;
    /* text-align: center; */
}

.mobile-menu-links ul a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--c2);
    text-transform: uppercase;
    font-size: 4vh;
    transition: color 0.3s ease;
}

.mobile-menu-links ul:hover li a {
    color: var(--c3);
}

.mobile-menu-links ul li:hover a {
    color: var(--c2);
}



.mobile-menu-links h3 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 6vw;
    bottom: 10vh;
    font-size: 2vh;
    font-weight: bold;
    color: var(--c2);
}



/* Show the menu with fade-in */
.popup input:checked~.mobile-menu-links {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s 0.2s forwards;
}

/* Hide the menu with fade-out */
.popup input:not(:checked)+.mobile-menu-links {
    display: block;
    opacity: 0;
}


/* Keyframes for removing display after fade-out */
@keyframes scalecircle {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(50);
    }
}

@keyframes outscalecircle {
    from {
        transform: scale(50);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media only screen and (max-width: 768px) {
    .logoImage {
        margin-top: 1vh;
        height: 7vh;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

}













