.card {
    border: 1px solid var(--bg);
    background-color: var(--bg);
    width: 300px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease; 
    position: relative;
    border-radius: 10px;
  }

/* Hover effect */
.card:hover {
    box-shadow: 8px 4px 16px var(--c5);
    /* Darker and larger shadow */
}

/* Card image styling */
.card-image {
    margin-left: 2%;
    margin-top: 5px;
    width: 96%;
    height: 180px;
    border-radius: 5px;
    object-fit: cover;
}

.card-content {
    padding-inline: 16px;
    position: relative;
    height: 220px;
}

.card-content h3 {
    padding-top: 2vh;
    margin: 0 0 10px;
    font-size: 3vh;
    color: var(--c4);
}

.card-content p {
    color: var(--c3);
    font-size: 14px;
    margin-bottom: 10px;
}
.card-content .disc {
    padding-bottom: 6vh;
}



.card svg{
    height: 3vh;
    width: auto;
    margin-bottom: 2vh;
    margin-right: 1vw;
    transition: all 0.3s ease;
}


/* .card .infos{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1vh;
    display: flex;
    flex-direction: row;
}
.card .infos .card-technologies{
    left: 0;
} */



.card .technologies {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.card-content a {
    position: absolute;
    right: 10%;
    color: #000000;
    text-decoration: none;
}

.card-content a:hover {
    text-decoration: underline;
}










.portfolioportfolio{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg);
}

.portfolio {
    width: 100vw;
    min-height: 100vh;
    height: auto !important;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 10vh; */
    background-color: var(--bg2);
    position: relative;
}
.portfolio .title {
    height: 10vh;
    width: 88%;
    margin-top: 10vh;
    margin-left: 6%;
}

.portfolio .title p {
    color: var(--c4);
    font-size: 5vh;
}



.portfolio .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg2);
}


@media (max-width: 768px) {
    .portfolio {
        width: 100vw;
        height: auto !important;
    }
}